# Ignores downloaded tmux plugins.
.config/tmux/plugins/**

**/*.pyc

.config/discord/**
.config/Bitwarden/**
.config/pulse/**
.config/pavucontrol.ini
.config/dconf/**
.config/waybar
.config/teams
.config/Microsoft
.config/qalculate
.config/Kitware

# May contain other licenses, we download them from source.
dotresources/**

# Machine-specific state.
.config/QtProject.conf

# User-specific state, caches and profile data.
.config/libreoffice/**

# Re-generated with `xdg-mime` during installation.
.config/mimeapps.list

